$table-base-padding: 16px;

.rowDimensionHeading {
    padding-right: $table-base-padding / 2;
    text-align: left;
  }
  
  .rowDimensionLastHeading {
    border-right: {
      style: solid;
      width: 1px;
    }
  }